<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring-mybatis.xml"/>
    <bean id="essayService" class="com.dolphin.core.essay.Impl.EssayServiceImpl">
        <property name="userDao">
            <ref bean="userDao"/>
        </property>
        <property name="essayDao">
            <ref bean="essayDao"/>
        </property>
    </bean>
    <bean id="userService" class="com.dolphin.core.user.Impl.UserServiceImpl">
        <property name="userDao">
            <ref bean="userDao"/>
        </property>
        <property name="userAccountDao">
            <ref bean="userAccountDao"/>
        </property>
    </bean>
</beans>